* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1470px;
  margin: 0 auto;
  width: 90%;
}

.burger {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 15px 20px #f5f8fa;
  margin-top: 57px;
  transition: 0.5s ease-in-out;
}

.burger .line {
  width: 18px;
  height: 2px;
  background-color: #000000;
  display: block;
  margin: 0 auto;
}

.burger .line:nth-child(2) {
  margin-top: 5px;
  margin-bottom: 5px;
}

.burger .line:first-child {
  margin-top: 22px;
}

.burger:hover {
  box-shadow: 0 0 15px 20px #bcdaee;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.logo {
  display: inline-block;
  width: 412px;
  height: 412px;
  border-radius: 50%;
  box-shadow: 0 0 25px 60px #f5f8fa;
  position: absolute;
  left: calc(50% - 206px);
  top: -216px;
  text-align: center;
}

header {
  position: relative;
  height: 266px;
}

.logo .name {
  margin-top: calc(206px + 57px);
  font-size: 48px;
  color: #43a9ff;
  font-weight: 600;
}

.logo .desc {
  font-size: 18px;
  font-weight: bold;
  color: #e6e7ec;
  text-transform: uppercase;
}

.search {
  position: absolute;
  right: 0;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  font-size: 21px;
}

.container2 {
  background-image: url(./background_head.png);
  height: 1200px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 50%;
  text-align: center;
  color: #d2d5d8;
  font-size: 18px;
}

.container2 h2 {
  padding-top: 114px;
  font-size: 48px;
  color: #000000;
  margin-bottom: 25px;
}

.btn {
  text-decoration: none;
  color: #43a9ff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 15px 20px #f5f8fa;
  margin-top: 90px;
  display: inline-block;
  padding: 21px 42px;
  border-radius: 30px;
  background-color: #ffffff;
}

.container2 .btn:hover {
  box-shadow: 0 0 15px 20px #bcdaee;
  transition: 0.5s ease-in-out;
}

.container2 .btn:focus {
  box-shadow: 0 0 15px 20px #9accee;
}
.container2 .lorem {
  padding-top: 40px;
  display: block;
  color: #d2d5d8;
}
.container3 {
  height: 900px;
  background-color: #f7f8fb;
}
.right {
  position: absolute;
}

.left {
  position: absolute;
}
.left h2 {
  position: relative;
  top: 160px;
  left: 770px;
  font-size: 31px;
  font-weight: 600;
}
.left p {
  position: relative;
  top: calc(160px + 45px);
  left: 770px;
  font-size: 14px;
  font-weight: 400;
  color: #bbc0c6;
}
.right .r h2 {
  margin-top: 160px;
  margin-left: 142px;
  font-size: 31px;
  font-weight: 600;
}
.right .r p {
  margin-left: 142px;
  margin-top: 45px;
  font-size: 14px;
  font-weight: 400;
  color: #bbc0c6;
}
.zima {
  height: 450px;
  width: 674px;
}
.brevno {
  position: absolute;
  right: 0;
  height: 450px;
  width: 674px;
  margin-top: 450px;
}
.john-doe {
  background-image: url(./Snowflake.png);
  height: 627px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position: bottom;
}
.john-doe .logot {
  display: inline-block;
  position: relative;
  margin-top: 226px;
  margin-left: 785px;
}
.john-doe .logot h1 {
  font-size: 48px;
  font-weight: 600;
  color: #fe3254;
}
.p1 {
  margin-top: 58px;
  font-size: 16px;
  font-weight: 400;
  color: #bbc0c6;
}
.logot h4 {
  margin-top: 88px;
  font-size: 16px;
}
.p2{
  margin-top: 14px;
  font-size: 16px;
  font-weight: 400;
  color: #bbc0c6;
}
footer{
  background-image: url(./dom.png);
  height: 1427px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position: bottom;
  display: block;
  text-align: center;
}
footer p{
  margin-top: 139px;
  font-size: 16px;
  font-weight: 400;
  color: #bbc0c6;
}
footer h2{
  margin-top: 38px;
  font-size: 48px;
  font-weight: 600;
}
footer span{
  margin-top: 102px;
  display: inline-block;
  padding: 21px 42px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 20px #f5f8fa;
  font-size: 14px;
  color: #43a9ff;
  font-weight: 600;
}
footer span:hover{
  box-shadow: 0 0 15px 20px #9accee;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}